synapse-analytics/pipeline/FintechDataMigration.json
{
	"name": "FintechDataMigration",
	"properties": {
		"activities": [
			{
				"name": "GetTableListFromSqlDatabase",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \n    TABLE_SCHEMA AS SchemaName,\n    TABLE_NAME AS TableName\nFROM \n    INFORMATION_SCHEMA.TABLES\nWHERE \n    TABLE_TYPE = 'BASE TABLE' and TABLE_SCHEMA = 'fintech'\nORDER BY \n    SchemaName, TableName;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Database_project_SqlDatabase1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "CopyEachTableToBronzeLayer",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetTableListFromSqlDatabase",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetTableListFromSqlDatabase').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "CopyTableToBronzeLayer",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@{concat('SELECT * FROM ', item().schemaName, '.', item().tableName)}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Database_project_SqlDatabase1",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "BronzeLayer_projectDataLakeStorageAccount1",
									"type": "DatasetReference",
									"parameters": {
										"tableName": {
											"value": "@item().TableName",
											"type": "Expression"
										},
										"schemaName": {
											"value": "@item().SchemaName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "BronzeToSilver_ETL",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "CopyEachTableToBronzeLayer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "BronzeToSilver_ETL",
						"type": "NotebookReference"
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "sparkpool1",
						"type": "BigDataPoolReference"
					},
					"executorSize": "Small",
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"driverSize": "Small",
					"numExecutors": null
				}
			},
			{
				"name": "SilverToGold_ETL",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "BronzeToSilver_ETL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "SilverToGold_ETL",
						"type": "NotebookReference"
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "sparkpool1",
						"type": "BigDataPoolReference"
					},
					"executorSize": "Small",
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"driverSize": "Small",
					"numExecutors": null
				}
			},
			{
				"name": "PipelineSuccessNotification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "SilverToGold_ETL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod-28.southindia.logic.azure.com:443/workflows/e9689a46e2924861b8116f99d3477733/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=0j1PP7ayJt9SFrYzWWfviAJvxyNl9N5faRxPpYQOGZs",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"body": {
						"value": "{\n    \"to\": \"@{pipeline().parameters.to}\",\n    \"subject\": \"@{pipeline().parameters.emailSubjectSuccess}\",\n    \"body\": \"@{pipeline().parameters.emailBodySuccess}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "PipelineFailedNotification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "SilverToGold_ETL",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod-28.southindia.logic.azure.com:443/workflows/e9689a46e2924861b8116f99d3477733/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=0j1PP7ayJt9SFrYzWWfviAJvxyNl9N5faRxPpYQOGZs",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"body": {
						"value": "{\n    \"to\": \"@{pipeline().parameters.to}\",\n    \"subject\": \"@{pipeline().parameters.emailSubjectFailed}\",\n    \"body\": \"@{pipeline().parameters.emailBodyFailed}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"to": {
				"type": "string",
				"defaultValue": "adarshhota55@gmail.com"
			},
			"emailSubjectSuccess": {
				"type": "string",
				"defaultValue": "Fintech Pipeline Execution - Success"
			},
			"emailBodySuccess": {
				"type": "string",
				"defaultValue": "Fintech Pipeline Execution was completed successfully."
			},
			"emailSubjectFailed": {
				"type": "string",
				"defaultValue": "Fintech Pipeline Execution - Failed"
			},
			"emailBodyFailed": {
				"type": "string",
				"defaultValue": "Fintech Pipeline Execution failed."
			}
		},
		"annotations": []
	}
}